<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resume</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <main class="main-content">
        <!-- section to the left side -->
        <section class="left-section">
            <div class="left-content">
                <div class="profile">
                    <div class="image">
                        <img src="/static/profile_photo.jpeg" alt="">
                    </div>

                    <!-- name of the Person and their profession -->
                    <h2 class="name">Light Situma</h2>
                    <p class="career">Software Developer</p>
                    <p class="career">Aeronautical Engineer</p>
                </div>
                <div class="contact-info">
                    <h3 class="main-title">Contact Info</h3>
                    <ul>
                        <!-- phone number -->
                        <li>
                            <i class="fa fa-phone"></i>
                            0798093549
                        </li>
                        <!-- email address -->
                        <li>
                            <i class="fa fa-envelope"></i>
                            lightsituma@gmail.com
                        </li>
                        <!-- linkedin -->
                        <li>
                            <i class="fa fa-linkedin-square"></i>
                            https://www.linkedin.com/in/light-situma-35b522166/
                        </li>

                    </ul>
                </div>
                <!--skills section starts here -->
                <div class="skills-section">
                    <h3 class="main-title">Skills</h3>
                    <ul>
                        <li>
                            <p class="skill-title">Python</p>
                            <div class="progress-bar">
                                <div class="progress s-progress"></div>
                            </div>
                        </li>

                        <li>
                            <p class="skill-title">AWS</p>
                            <div class="progress-bar">
                                <div class="progress aws-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">SQL</p>
                            <div class="progress-bar">
                                <div class="progress s-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">MATLAB</p>
                            <div class="progress-bar">
                                <div class="progress s-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">linux</p>
                            <div class="progress-bar">
                                <div class="progress l-progress"></div>
                            </div>
                        </li>
                        <li>
                            <p class="skill-title">SolidWorks</p>
                            <div class="progress-bar">
                                <div class="progress s-progress"></div>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- end of skills section -->

                <!-- references section starts here-->
                <div class="references-section">
                    <h3 class="main-title">References</h3>
                    <div class="referee">
                        <h6 class="sub-title">Mr Meshack Cheruiyot</h6>
                        <p class="sub-para">AWS re/Start Accredited Instructor</p>
                        <ul>
                            <li>
                                <i class="fa fa-envelope"></i>
                                meshack.cheruiyot@aws.ajiraemobilis.org
                            </li>
                        </ul>
                    </div>
                    <div class="referee">
                        <h6 class="sub-title">Mr. George Namachanja</h6>
                        <p class="sub-para">Maintenance Quality Coodinator at Kenya Airways</p>
                        <ul>
                            <li>
                                <i class="fa fa-envelope"></i>
                                George.Namachanja@kenya-airways.com
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- right section -->
        <section class="right-section">
            <div class="right-main-content">
                <!-- about me section  -->
                <section class="about sect">
                    <h2 class="right-title">About Me</h2>
                    <p class="para">
                        I am an enthusiastic, focused, and motivated junior developer and aeronautical engineeer eager to contribute
                        to institutions by applying my knowledge, concepts, and methodologies to add value. I posses the ability to
                        translate theoritical concepts into practical applications. With excellent oral and written communication skills, I am adaptable
                        and flexible in changing work environments. I am a team player who can work independently and responsibly. <br>

                    </p>
                </section>
                <!-- Experience section begins here -->
                <section class="experince sect">
                    <h2 class="right-title">Experience</h2>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Kenya Civil Aviation Authority</h5>
                            <p class="para">Jan 2024 - April 2024</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2"> Engineering Trainee</h5>
                                <p class="para">
                                Assisted in ground and flight calibration of both the Localiser and the Glidepath (GP)<br>
                                    Assisted in routine site checks of the Distance Measuring Equipment(DME) radio transmitters and receivers.<br>
                                    Trained on splicing of fibre optic cables and actively involved in cable management.<br>
                                    Actively involved in the installation of servers and set up of management consoles for the Air Traffic Controllers<br>
                                    Led a testing and installation of emergency lights exercise.<br>
                                    Troubleshooting and repair of scanners and printers.<br> 
                                    Assisted in Troubleshooting and repair of outdoor air conditioner units.
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Kenya Space Agency</h5>
                            <p class="para">September 2023 - December 2023</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Student on Attachment</h5>
                                <p class="para">
                                    Majorly centered on rocket design using Computer Aided Design Software (SolidWorks)<br>
                                    Carried out Finite Element Analysis(FEA) on the designs.
                                    <br>
                                    Actively involved in research and report writing.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- education section starts here -->
                <section class="education sect">
                    <h2 class="right-title">education</h2>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">AWS re/Start</h5>
                            <p class="para">January 2024 - April 2024</p>

                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">AWS Certified Cloud Practitioner</h5>
                                <p class="para">
                                    Units covered: Linux, Python, Networking, Security and Databases
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Undergraduate</h5>
                            <p class="para">2018 - 2024</p>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <h5 class="tl-title-2">Bachelor of Engineering(Aeronautical Engineering)</h5>
                                <p class="para">
                                    Units covered: Aircraft Design, Aircraft Performance, Flight Dynamics, Control and Instrumentation and Aircraft Maintenance Programs and Schedules.
                                </p>
                            </div>
                        </div>
                    </div>

                </section>
                <!-- cerificates and awards section starts here -->
                <section class="awards sect">
                    <h2 class="right-title">Certificates</h2>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">AWS Certified Cloud Practitioner</h5>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <p class="para">April 2024</p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Python for Data Science, AI and Development</h5>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <p class="para">November 2023</p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Getting Started with Git and GitHub</h5>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <p class="para">October 2023</p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Introduction to Software Engineering</h5>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <p class="para">October 2023</p>
                            </div>
                        </div>
                    </div>
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Software Testing and Automation</h5>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <p class="para">November 2023</p>
                            </div>
                        </div>
                    </div>

                </section>
                <section class="project sect">
                    <h2 class="right-title">Project</h2>
                    
                    <div class="timeline">
                        <div class="left-tl-content">
                            <h5 class="tl-title">Personal Resume Website</h5>
                        </div>
                        <div class="right-tl-content">
                            <div class="tl-content">
                                <p class="para">Utilized HTML, CSS, Amazon s3, Route 53 and CloudFront  </p>
                            </div>
                        </div>
                </section>

    </main>
</body>

</html>